@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
:root {
  font-family: Poppins;
  line-height: 1.5;
  font-weight: 400;
  /*background-color: #242424; */
  background-color: #FAFAFB;

}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
